.feed::-webkit-scrollbar{
    display: none;
}


.feed{
    flex:0.6;
    border-right: 1px solid var(--twitter-background);
    min-width: fit-content;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.feed_header{
    position: sticky;
    display: flex;
    top: 0;
    background-color: var(--div);
    z-index: 100;
    border: 1px solid var(--twitter-background);
    padding: 15px 20px;
    /* background-color: rgba(0, 0, 0, 0.925); */
}
.feed-header-icon{
    color: var(--twitter-color);
    margin-left: auto !important;
    font-size: 30px !important;
    cursor: pointer;
}