.landing{
    background-color: var(--twitter-color);
    display: flex;
    padding: 20px ;
    width: 100%;
    height: 100vh;
    padding: 20px auto;
    align-items: center;
    padding: 20px 20px 20px 20px;
    
}
.landing-img{
    width: 50%;
    background: url("c:\react\twitter\public\twitter.jpg");
    height: 90vh;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    
}
.main{
    width: 50%;
    height: 90vh;
    background-color: black;
    padding: 180px 20px 20px 40px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
    
}
.main>h2{
    font-size: 3em;
    margin-bottom: 20px;
    color: rgb(233, 233, 233);
    
}
.main>h3{
    font-size: 2.5em;
    color: rgb(95, 94, 94);
    margin-bottom: 30px;
}
.main-input{
    width: 70% !important;
    height: 50px !important;
    background-color: white !important;
    border-radius: 30px !important;
    color: black !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-size: 1.2em !important;
    font-weight: 800 !important;
    margin-bottom: 20px !important;
    cursor: pointer !important;
    text-transform: none !important;
}
.main>p{
    max-width: 500px;
    color: grey;
    margin-bottom: 20px;
}
.main>p>span{
    color: var(--twitter-color);
}
.main>p>span:hover{
    text-decoration: underline;
    cursor: pointer;
    
}
h4{
    font-weight: 600;
}
h4>span{
   color: var(--twitter-color);
}
h4>span:hover{
    text-decoration: underline;
}